#root {
  min-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html {
  padding-top: 100px;
  margin: 0;
  background-image: url("./img/Movies_Blog_Header.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
