.ul {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.li {
  border: 1px solid gray;
  border-radius: 8px;
  width: 200px;
  height: 350px;
  object-fit: contain;
  overflow: hidden;
}

.emptyCastField {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
